/* 전체 스타일 */
*{margin: 0; padding: 0;}
#container{width: 1000px; margin: 10px auto;}
header{height: 100px;}
nav ul{list-style: none; text-align: right; margin-right: 150px;}
nav ul li{display: inline-block; margin: 10px;
   border-top:3px solid #333; padding: 10px;}
nav ul li a{text-decoration: none; color: #000}
nav ul li:hover{background-color: #eee}

/* index 스타일 */
section{text-align:center}
section h1{font-size:2em; color:#00f;}
section h2{margin-bottom:20px;}
section p{margin-top:10px;}

/* memberlist 스타일 */
section table{width: 600px; margin: 0 auto; border-collapse:collapse}
section h1{margin-bottom: 20px;}
section table, th, td{border: 1px solid #ccc; padding: 10px}
section table th{background-color: #eee}
section table a{color: #000;}

/* member_view 스타일 */
section .tbl_view{width: 450px;}
section .tbl_view input{width: 200px; height: 30px}
section .tbl_view a{color: #00f;}

/* register 스타일 */
section .join{width: 550px; margin: 0 auto;}
section .join fieldset{border-radius: 4px}
section .join ul{list-style: none; padding: 10px;}
section .join ul li{margin: 15px;}
section .join ul label{width: 120px; float:left; text-align: right}
section .join ul input{width: 250px; height: 30px;
  border-radius: 4px; border: 1px solid #555; }
section .join ul input[type='button']{width: 100px; height: 30px;}
section .join ul input[type='reset']{width: 100px; height: 30px;}

/* login 스타일 */
section .login{width: 450px; margin: 0 auto;}
section .login fieldset{border-radius: 4px}
section .login p{color: #f00; font-weight: bold; padding-top: 10px;}
section .login ul{list-style: none; padding: 10px;}
section .login ul li{margin: 20px;}
section .login ul label{width: 120px; float:left; text-align: right}
section .login ul input{width: 200px; height: 30px;
  border-radius: 4px; border: 1px solid #555; }
section .login ul input[type='submit']{width: 100px; height: 30px;}

/* member_edit 스타일 */
section .tbl_edit{width: 450px;}
section .tbl_edit input{width: 200px; height: 30px}
section .tbl_edit input[type='submit']{width: 100px; height: 30px}
section .tbl_edit input[type='reset']{width: 100px; height: 30px}

/* boardlist 스타일 */
section .tbl_bo_list{width:700px; margin:0 auto;}
section .tbl_bo_list tr td:nth-child(2){text-align:left; padding-left:20px;}
section .tbl_bo_list a{text-decoration:none; color:#000;}
section .tbl_bo_list a:hover{text-decoration:underline;}
section .btn_write{text-align: right; margin: 15px 200px;}
section .btn_write input{padding: 10px 20px;}

/* writing 스타일 */
section .writing{width: 600px; margin:0 auto;}
section .writing input[type='text']{width: 550px; height: 30px}
section .writing textarea{width: 550px; height: 300px;}
section .writing input[type='button'],
  [type='reset']{width: 100px; height: 30px;}

/* board_view 스타일 */
section .tbl_bo_view{width:600px; margin:0 auto;}
section .tbl_bo_view input[type='text']{width:550px; height:25px;}
section .tbl_bo_view textarea{width:550px; height:300px;}
section .tbl_bo_view a{color:#00f;}

/* board_edit 스타일 */
section .tbl_bo_view input[type='submit'],
   input[type='reset']{width:100px; height:30px;}



