<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Welcome~ mysite!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="container">
        {% include 'navbar.html' %}
        <section>
            <h1>회원 관리 커뮤니티입니다.</h1>
            <h2>Have a nice Day!!</h2>
            <img src="{{ url_for('static', filename='images/activity.jpg') }}" id="pic">
        </section>
    </div>

    <script src="{{ url_for('static', filename='js/main_js.js') }}"></script>
</body>
</html>