<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 쓰기</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/checkWriting.js') }}"></script>
</head>
<body>
    <div id="container">
        {% if not session['userID'] %}
        <script>
            alert('로그인이 필요합니다');
            location.href = '/login/'
        </script>
        {% endif %}
        {% include 'navbar.html' %}
        <section>
            <h1>게시글 쓰기</h1>
            <form action="{{ url_for('writing') }}" method="post"
                  class="writing" name="writeForm">
                <table>
                    <tr>
                        <td>
                            <input type="text" name="title" placeholder="글 제목">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea name="content" placeholder="글 내용"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="button" value="글쓰기" onclick="checkWriting()">
                            <input type="reset" value="취소">
                        </td>
                    </tr>
                </table>
            </form>
        </section>
    </div>
</body>
</html>